frontend/node_modules
frontend/dist
.DS_Store
/.playwright-cli/
/.data/visionautotest.db
/.data/
/.idea/
/.codex/config.toml
.env
.env.*
!.env.example
!.env.sample
.lingma/
.codex/environments/environment.toml
./output
